<nav>
  <div class="nav-wrapper red lighten-1">
    <div class="container">
        <a [routerLink]="['/news']" class="brand-logo">Angular 4 Global News Media</a>
        <a [hidden]="hideSettings" href="#" data-activates="sidenav" class="button-collapse"
            materialize="sideNav" [materializeParams]="[{closeOnClick: true}]">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li [hidden]="hideSettings"><a [routerLink]="['/settings', { data: true }]">Settings</a></li>
        </ul>
        <ul id="side-nav" class="side-nav">
            <li [hidden]="hideSettings"><a [routerLink]="['/settings', { data: true }]">Settings</a></li>
        </ul>
    </div>
  </div>
</nav>
