<nav>
  <div class="nav-wrapper red lighten-1">
    <div class="container">
        <a class="brand-logo">Angular 4 Global News Media</a>
        <a href="#" class="button-collapse" matreialize="sideNav">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li [hidden]="hideSettings"><a>Settings</a></li>
        </ul>
        <ul id="side-nav" class="side-nav">
            <li [hidden]="hideSettings"><a>Settings</a></li>
        </ul>
    </div>
  </div>
</nav>
