<div class="container">
    <div class="row">
      <div class="col l6 s12">
          <h5 class="white-text">Work Hard | Be Kind | Do More ... <i class="material-icons">pregnant_woman</i></h5>
          <p class="grey-text text-lighten-4">For the smartest and most beautiful woman in the world. YOU.
          <i class="material-icons">android</i> <i class="material-icons">polymer</i></p>
      </div>
      <div class=" col l4 offset-12 s12">
        <h5 class="white-text">Visit Us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://angular.io/" target="_blank">Angular</a></li>
          <li><a class="grey-text text-lighten-3" href="https://cli.angular.io/" target="_blank">Angular CLI</a></li>
          <li><a class="grey-text text-lighten-3" href="https://material.angular.io/" target="_blank">Angular Material</a></li>
          <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">Materialize CSS</a></li>
          <li><a class="grey-text text-lighten-3" href="https://newsapi.org/" target="_blank">NewsAPI.org</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
          2017 Just For Fun
          <a class="grey-text text-lighten-4 right">Made with all <i class="material-icons">favorite</i> in the world</a>
    </div>
</div>
